<!-- Header -->
<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="images/logo.svg" alt="Logo" class="header__logo-img" />
      </a>
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/catalog" class="nav__link">Catalog</a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="/contacts" class="nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions">
      <button class="header__search-btn">
        <img src="images/search-icon.svg" alt="Search" class="header__icon" />
      </button>
      <button class="header__cart-btn">
        <img src="images/cart-icon.svg" alt="Cart" class="header__icon" />
        <span class="header__cart-count">0</span>
      </button>
      <button id="profileBtn" class="header__profile-btn">
        <img src="images/profile-icon.svg" alt="Profile" class="header__icon" />
      </button>
    </div>
  </div>
</header>