<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.scss">
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  {{> modal}}
  <script src="/scripts/partials-loader.js"></script>
  <script src="/scripts/auth.js"></script>
</body>
</html>