<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.scss">
</head>
<body>
  <div class="page-wrapper">
    {{> header}}
    <main class="main-content">
        {{{body}}}
    </main>
    {{> footer}}
  </div>
  {{> modal}}
 
  <script src="/tinymce/tinymce.min.js"></script>

  <!-- OUR SCRIPTS (should be last, as they depend on the above) -->
  <script src="/scripts/auth.js"></script>
  <script src="/scripts/likes.js"></script>
  <script src="/scripts/cart.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/scripts/about.js"></script>
  {{#if isProductPage}}
    <script src="/scripts/product.js"></script>
  {{/if}}
  <script src="/scripts/navigation.js"></script>
  <script src="/scripts/search.js"></script>

  {{!-- <script src="/dist/assets/auth.qWBIMvZw.js"></script>
<script src="/dist/assets/likes.CGvovceb.js"></script>
<script src="/dist/assets/cart.BC9d1JKb.js"></script>
<script src="/dist/assets/profile.ocUGpA17.js"></script>
<script src="/dist/assets/about.D1yn27aN.js"></script> --}}
</body>
</html>