<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.scss">
</head>
<body>
  <div class="page-wrapper">
    {{> header}}
    <main class="main-content">
        {{{body}}}
    </main>
    {{> footer}}
  </div>
  {{> modal}}
 
  <script src="/tinymce/tinymce.min.js"></script>


  <script src="/assets/auth.C-zPDhUt.js"></script>
  <script src="/assets/likes.CGvoceb.js"></script>
  <script src="/assets/cart.BC9d1JKb.js"></script>
  <script src="/assets/profile.CfOCUT6x.js"></script>
  <script src="/assets/about.D1yn27aN.js"></script>
  {{#if isProductPage}}
    <script src="/assets/product.DzCe-Qql.js"></script>
  {{/if}}
  <script src="/assets/navigation.CuCzaYcf.js"></script>
  <script src="/assets/search.Cg2PlnpM.js"></script>

 {{!-- <script src="/scripts/auth.js"></script>
  <script src="/scripts/likes.js"></script>
  <script src="/scripts/cart.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/scripts/about.js"></script>
  {{#if isProductPage}}
    <script src="/scripts/product.js"></script>
  {{/if}}
  <script src="/scripts/navigation.js"></script>
  <script src="/scripts/search.js"></script> --}}
</body>
</html>