<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.scss">
</head>
<body>
  <div class="page-wrapper">
    {{> header}}
    <main class="main-content">
        {{{body}}}
    </main>
    {{> footer}}
  </div>
  {{> modal}}
  <script src="/scripts/auth.js"></script>
  <script src="/scripts/likes.js"></script>
  <script src="/scripts/cart.js"></script>
</body>
</html>