{{!-- views/layouts/main.hbs --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}} - {{siteName}}</title>
 <link rel="stylesheet" href="/styles/main.scss" />
  {{#each scripts}}
    <script src="/{{this}}" defer></script>
  {{/each}}
</head>
<body>
  {{> header isAboutPage=isAboutPage isContactsPage=isContactsPage isCatalogPage=isCatalogPage}}
  {{{body}}}
  {{> footer isAboutPage=isAboutPage isContactsPage=isContactsPage isCatalogPage=isCatalogPage}}
  {{> auth-modals}}
</body>
</html>
